body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
  margin: 0;
  min-height: 100vh;
  color: #333;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ANNIVERSARY PAGE */
.ann-title {
  font-size: 2.7rem;
  margin-bottom: 15px;
}

.ann-sub {
  font-size: 18px;
  line-height: 1.6;
  max-width: 420px;
  margin-bottom: 35px;
}

.ann-hearts {
  position: fixed;
  bottom: 20px;
  font-size: 24px;
  opacity: 0.7;
}

/* BUTTONS */
button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.yes {
  background-color: #ff4d6d;
  color: white;
}

.no {
  background-color: #adb5bd;
  color: white;
  position: absolute;
}

/* MEMORIES */
.mem-title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.gallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

.love-text {
  text-align: center;
  font-size: 18px;
  margin: 40px 20px 60px;
  line-height: 1.6;
}
/* DATE PAGE */
.date-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.date-card {
  background: white;
  padding: 25px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  max-width: 350px;
  text-align: left;
  margin-bottom: 25px;
}

.date-card p {
  font-size: 16px;
  margin: 10px 0;
}

.date-text {
  font-size: 17px;
  max-width: 420px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.date-hearts {
  position: fixed;
  bottom: 20px;
  font-size: 22px;
  opacity: 0.7;
}
